<h2>Questions</h2>
<div class ="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                <% @question.each do |question| %>
                    <tr>
                        <td><%= question.id %></td>
                        <td><%= link_to question.title, question_path(question) %></td>
                        <td><%= question.name %></td>
                        <td>[ <%= link_to 'Edit', edit_question_path(question) %> ]
                            
                        [ <%= link_to 'Delete', question_path(question), method: :delete, data:{confirm: 'Are you sure?'}  %> ]
                        <!--#question_pathのdeleteメソッドで削除可能.「rails route」コマンドで確認可能-->
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div>
            <%= link_to 'New Question' , new_question_path %>
        </div>
    </div>
</div>